[2019-04-20 20:09] sfoukahi opened #1 "web design"

[2019-04-20 20:13] sfoukahi commented on #1
Home :
contains the previous and next episode

About geeksblabla:
description and team membres

blabla (les épisodes):
Episode liste with tags

[2019-04-24 22:19] Amine-H opened #2 "customize for podcast content"

[2019-04-24 22:20] Amine-H opened #3 "Home page"
should focus on the current `blabla` and the next

[2019-04-24 22:21] Amine-H opened #4 "About page"
about geeksblabla and team members,

[2019-04-24 22:22] Amine-H opened #5 "blablas page"
contains all previous editions of geeksblabla, should be able to filter through `blabla`s using tags

[2019-04-24 22:37] Amine-H opened #6 "blabla page"
a page that displays a geeksblabla session

- video
- podcast
- transcript(if any)

[2019-04-26 13:19] yjose commented on #5
There is two option to get  geeksblablas episode :
* Fetch all episode from Facebook API using  gatsby-graphql-source :
      + Get All episode automatically and update the content  easily
      - Hard to customize tags and description
      - probably we would have some issue with Facebook API especially with group  permissions
* Using a simple markdown file for every episode  :
      + Easy to u

[2019-04-26 13:52] yjose opened #7 "Configure geeksblabla.com"
* Setup Netlify Hosting
* Setup geeksblabla.com  DNS

[2019-04-26 15:26] Amine-H commented on #5
+1 for the manual approach

[2019-04-27 22:20] sfoukahi commented on #5
+1 for the manual approach

[2019-04-27 22:43] sfoukahi commented on #5
We need to add podcast link and the guest name

---
date: 2017-03-28
title: "web frameworks"
tags: ["react", "dev", "atom"]
guest: elazizi youssef
isNext: true
url: https//fb.com/video######    // or event in case isnext is true
podcastUrl: https://....
---

description

[2019-05-02 18:17] #6 closed

[2019-05-02 18:17] #5 closed

[2019-05-02 18:18] yjose commented on #1
https://www.figma.com/file/WuziVAGqUoBJPhxSnpsTbW7g/GeeksBlabla?node-id=0%3A1

[2019-05-02 18:18] #1 closed

[2019-05-02 18:18] #7 closed

[2019-05-02 18:19] #3 closed

[2019-05-02 18:19] yjose commented on #4
need content @Amine-H

[2019-05-02 21:51] #4 closed

[2019-05-05 01:00] #2 closed

[2019-05-09 16:44] smakosh opened #19 "Refresh only the video frame not the whole page"
## Description
Scrolling on the menu and selecting an episode, the whole page is refreshed causing the slider to go back all the way up which bothers me as I have to scroll down again

## Suggestion
Maybe Keep track of the current page title and use it to track the selected episode on the menu?

[2019-05-13 02:26] sfoukahi opened #21 "add suggestion section"
In this section we have :

The visual should be like the picture below :

![image](https://user-images.githubusercontent.com/24813026/57592391-f79cd100-7525-11e9-8066-20b8f05441b1.png)

the figma projet project if needed :
https://bit.ly/2GIXTvQ

[2019-05-13 13:57] Amine-H commented on #21
I'll take this on

[2019-05-13 14:04] Amine-H commented on #21
considering that we are going full static website,
I suggest using staticman so that we can add dynamic content into the website without adding an API

[2019-05-13 14:18] yjose commented on #21
Staticman  can help on upvote too? I'm not sure

[2019-05-13 14:26] Amine-H commented on #21
no, for the upvote it won't help much

[2019-05-13 14:31] yjose commented on #21
What about using Google sheets as database https://dev.to/stephsmithio/3-approaches-for-using-the-google-sheets-api-in-node-js-a-tutorial-490p with netlify functions 🔥🔥

[2019-05-13 14:34] Amine-H commented on #21
sounds like a good plan

[2019-05-13 14:36] yjose commented on #21
🏃‍♂️🏃‍♂️🏃‍♂️🏃‍♂️

[2019-05-20 21:45] yjose opened #23 "Episodes Notes"
##  📝Add Episodes Notes

Adding Notes to episodes would help our members to more enjoy watching episodes and help them figure out the most important parts of the episode even before watching it and have access to all links and tools that have been mentioned.

## Instructions
* [ ] Give the project a star 😉 👆.
* [ ] Pick an unclaimed Episode and comment that you're working on it.
* [ ] Fork and Set

[2019-05-21 00:01] yjose commented on #23
working on `WebDev Jsframeworks, Best practices`

[2019-05-22 00:48] kelmag commented on #23
working on `Open source licenses & standards`

[2019-05-23 21:56] sfoukahi commented on #23
working on software security episode

[2019-05-24 17:53] AbderrahimSoubaiElidrissi commented on #23
Working on ``introduction to open-source``

[2019-05-27 00:04] Amine-H opened #26 "12 factor apps"
TODO:

- [ ] add 12 factor apps to blablas, and update next blabla
- [ ] add episode Notes

[2019-05-27 13:31] #26 closed

[2019-05-27 21:05] AbderrahimSoubaiElidrissi commented on #23
Working on  ``the-twelve-factor-app`` episode

[2019-05-27 21:24] Amine-H commented on #23
@AbderrahimSoubaiElidrissi 12 factor app episode is already done 😄

[2019-05-27 21:47] AbderrahimSoubaiElidrissi commented on #23
@Amine-H just saw it so I will work  on this :  ``Métier de développeur``

[2019-07-06 13:23] AbderrahimSoubaiElidrissi commented on #23
Working on  `DevOps` episode

[2019-07-07 14:32] yjose commented on #21
@Amine-H I am working on the suggestion section  using netlify functions and fuanaDB, I will keep you update 👍

[2019-07-17 00:09] yjose commented on #21
fixed : #34

[2019-07-17 00:09] #21 closed

[2019-07-20 09:51] OKinane opened #35 "Fix typo in suggest page"
Hi,

There's a typo in the suggest page : https://github.com/DevC-Casa/geeksblabla.com/blob/e8d6bf86d2b34412b150a2d1f5b7b365c68431aa/src/components/Suggest/LoginPopup.js#L24

Should be `Sign` instead of `Sing`

[2019-07-20 14:13] yjose commented on #35
Good catch 👍

[2019-07-20 14:13] #35 closed

[2019-07-20 18:22] aitbahaa opened #36 "[Ask For Feature] Authentication with facebook"

[2019-07-20 20:20] yjose commented on #36
Done

[2019-07-20 20:20] #36 closed

[2019-10-04 03:10] souffanda opened #44 "Push notification"
### What :
Notify geeksblabla users about the next episode the in the day morning (10am).

### Why :
A lot of users forget about the episode time.

### How :
Implementing push notification Using the Notifications Web API  (@yjose do you have something to add?)

[2019-10-04 04:03] souffanda opened #45 "Add Podcast UI"
### What :
Add the Podcast ui in the episode view

### Why :
Good feature for the Podcast lovers or who hase a 3g issues.

### How :
Implement the podcast ui as its designed by smail.
@ismailElazizi  plz add the ui picture bellow

[2019-10-24 19:21] ans1genie opened #47 "Make a scrollable list for Blablas in Blablas page"
Hello,

It will be good to make scrollable list for blablas in blablas page, to keep watching and explore at the same time.

Regards

[2019-10-26 08:47] brian-digital-labs commented on #47
I'd like to take a crack at it.

[2019-10-27 19:14] moughamir commented on #45
Did you started working on this feature yet?
I'll be happy to help in this matter.

[2019-10-27 22:05] ans1genie commented on #47
Also for suggest-new-episode page

[2019-10-31 01:15] souffanda commented on #45
@moughamir  not yet if you want you can work on but just wait for the UI design will be shared soon

[2019-10-31 12:27] AWIXOR opened #52 "Add links to participants' social media"
When you watch an episode of GeeksBlabla, you wonder how to find participants on the web so it is effective to add their links below each episode.

[2019-10-31 12:34] yjose commented on #52
Great idea 👍
it would be great if we can add it with Episode Description before notes  like the following :
[code]

[2019-10-31 16:31] AWIXOR commented on #52
Yes Exactly!

[2019-11-01 21:26] mohouyizme opened #54 "Time format in each episode is confusing"
<img width="262" alt="Screen Shot 2019-11-01 at 10 17 55 PM" src="https://user-images.githubusercontent.com/23297439/68057225-9516d780-fcf5-11e9-9786-33f5fe876413.png">
Time format in each episode seems like `mm:ss`, also that was the first impression of my friends when I recommended the podcast to them.

`hh:mm:ss` format will be good for user experience.

[2019-11-02 00:22] yjose commented on #54
Nice catch, I agree with you.
I would love to know if you can help with this.
You need to change the time for every episode by changing episodes markdowns on `blablas` folders.

Lets me know if you need help.

[2019-11-02 10:56] mohouyizme commented on #54
I will take care of it.

[2019-11-02 11:17] mohouyizme commented on #54
Done https://github.com/DevC-Casa/geeksblabla.com/pull/55.

[2019-11-02 11:52] #54 closed

[2019-11-03 01:07] OKinane opened #56 "Remove left panel scrollbars in blablas page"
Hi,

I'm seeing vertical and horizontal scrollbars in the left panel of the [blablas](https://geeksblabla.com/blablas) page.

Unless I'm missing something, they seem useless and should be removed.

Screenshot:
![image](https://user-images.githubusercontent.com/15254824/68078819-966fff00-fdde-11e9-8b6c-89e9098c933b.png)

Tested with Brave version 0.70.122 (based on Chromium: 78.0.3904.87), Windows

[2019-11-03 01:23] OKinane opened #57 "'Edit Notes' link not working"
Hi,

The 'Edit Notes' link on the bottom of a blabla episode page does nothing.

It should redirect to https://github.com/DevC-Casa/geeksblabla.com/blob/master/blablas/epNumber/index.md

[2019-11-03 01:29] OKinane opened #58 "Make times clickable in episode notes"
Hi,

It would be useful if the times in episode notes were clickable, so that it will automatically seek to that time in the video.

[2019-11-03 13:28] yjose commented on #57
Hi @OKinane,

Weird 🤔 the link should redirect the user to the episode notes file on Github repo. But looks like it’s not working for the first render, try to navigate to another episode and you will notice that the link starts working as expected.

Not sure why we have this behavior, @smakosh any thoughts?

[2019-11-03 13:39] #56 closed

[2019-11-03 13:49] yjose commented on #58
Yah I think soo, especially for a long episode.
We can use Embedded Video Player API to implement it.
https://developers.facebook.com/docs/plugins/embedded-video-player/api/
https://github.com/DevC-Casa/geeksblabla.com/blob/master/src/components/Episode/FacebookPlayer.js

[2019-11-03 21:24] souffanda commented on #45
@moughamir  this the UI for this issue let me know if you want work on it

![image](https://user-images.githubusercontent.com/24813026/68092152-cc000100-fe4d-11e9-88dc-2217a2eabfd8.png)

[2019-11-15 02:40] souffanda commented on #45
working on it

[2019-11-15 03:30] #45 closed

[2019-11-17 13:43] bondif opened #61 "Next episode 'Add to calendar' action"
Hi,

The "Add to calendar" button in the Next episode component is always showing the value "Freelancing in Morocco" in the title and the description of the calendar event. While at the moment, the value should be "Women In Tech".

Tests were made using Google Calendar and Yahoo Calendar.

![image](https://user-images.githubusercontent.com/24433897/69008096-d094e100-0946-11ea-935f-13565d3a70c0.png

[2019-11-17 17:03] souffanda commented on #61
Working on it, thank you for your contribution.

[2019-11-17 18:38] yjose commented on #61
fixed #62

[2019-11-17 18:38] #61 closed

[2019-11-23 04:01] souffanda opened #63 "Add links to about page"
we need to add github link and description if someone want to join the community.

[2019-11-23 04:05] souffanda opened #64 "Share episode from the website"
give the user the posibility to share the video in social networks  this task need to be designed first

[2019-11-24 23:24] souffanda opened #65 "Guest link redirection"
When i click on the guest url the page is redirected  to the link in the same tab we need to open a new tab for this case

[2019-11-25 12:23] yjose commented on #65
working on it :)

[2019-11-25 12:50] #65 closed

[2019-11-26 21:19] Ismailtlem commented on #23
Hi Guys,

I'm working on the episode ML & AI.

[2019-11-30 16:32] arsokay90 commented on #23
Hi,
i'm working on the episode of : UX, UI & design principles.

[2019-11-30 20:20] souffanda commented on #23
Working on "Open Source with Yassine Elouafi"

[2019-12-06 05:08] souffanda commented on #44
Working on this

[2019-12-26 16:38] ijja commented on #47
I suggest the following CSS to make the episodes container sticky on scroll & scrollable

.episode{
        height: 100vh;
        overflow-y: scroll;
        position: -webkit-sticky;
        position: sticky;
        top: 10px;
}

[2019-12-26 16:58] ijja commented on #47
#71

[2019-12-27 11:48] aymanrs opened #72 "Videos problem with Firefox on linux"
whenever i want to see a video the website shows the loading screen forever, so i can't see any video but in the same OS with Chrome it's working greatly.

[2019-12-29 12:21] Sim4n6 commented on #72
Check your Firefox extensions... u may have one that blocks content from Facebook.

[2019-12-30 13:53] azihassan commented on #23
Working on " Geeksblabla MSS with Yassine El Kachchani"

[2020-01-28 15:28] bondif commented on #23
Working on `GeeksBlabla MSS With Google Engineer Sghiouar Abdelfettah`

[2020-01-28 15:29] bondif commented on #23
Working on `GeeksBlabla MSS With Google Engineer Sghiouar Abdelfettah`

[2020-02-03 16:52] yjose commented on #23
@arsokay90 any updates?  😄

[2020-03-03 15:42] #64 closed

[2020-03-03 15:42] yjose commented on #57
fixed

[2020-03-03 15:42] #57 closed

[2020-03-03 15:42] #44 closed

[2020-03-03 15:43] yjose commented on #19
fixed

[2020-03-03 15:43] #19 closed

[2020-03-03 15:43] #63 closed

[2020-03-03 15:43] #47 closed

[2020-03-04 09:34] Iduoad commented on #72
In my case the problem was related to the **firefox facebook container** add-on,
Disabling it fixed it for me.

[2020-03-04 17:57] #72 closed

[2020-03-24 21:07] mouradaouinat commented on #23
Hi Guys,

I'm working on the Blockchain & CryptoCurrency -> ep3

[2020-03-25 15:37] mouradaouinat commented on #23
I'll be working on the DevOps episode 🖐

[2020-03-25 18:12] getspooky opened #93 "Idea: Support Muliple Languages (FR,AR,...)"
I think it would be a good idea if we can support several languages like Arabic, French

[2020-03-25 21:03] ylizma commented on #23
working on  "Deep Dive in Java"

[2020-03-26 18:10] #58 closed

[2020-03-26 20:10] mouradaouinat commented on #23
Working on the Freelancing in Morocco episode.

[2020-03-28 14:45] aboullaite commented on #93
It's indeed a good idea! please feel free to make a PR on that sense :)

[2020-03-28 21:17] aymaneMx commented on #23
working on : MSS with Badr El Houari

[2020-04-07 21:15] Kafiil opened #104 "[Bug] npm run format not working on a fresh install"
I Think that this is due to the fact prettier is not present in the (dev) dependencies.

Probably that the person who made this has prettier installed as global.

[2020-04-07 21:27] Kafiil opened #106 "[Feature]: using husky to format code before commit to prevent not formatted code"
It looks like a lot of files are not correctly formatted, maybe it would be a good idea to run the format script before each commit ( This is easily achievable using husky ) .

Something like this :

[code]

[2020-04-08 00:02] #104 closed

[2020-04-08 00:02] #106 closed

[2020-04-08 01:25] Kafiil opened #111 "[Bug] Display issue when the note's time is in format hh:mm:ss instead of hh:mm"
You can see an exemple in the last two notes from https://geeksblabla.com/blablas/the-twelve-factor-app

[2020-04-08 18:15] getspooky commented on #111
Hi @Kafiil
The note's time is in format mm:ss .

[2020-04-08 18:31] Kafiil commented on #111
That is another issue.
The conversation in mycurrently open  PR

[2020-04-08 21:27] yjose opened #113 "Incorrect Time format in Some Episode Notes"
The following Episodes Had an incorrect Time Format :

* https://geeksblabla.com/blablas/devops
* https://geeksblabla.com/blablas/metier-de-developpeur
* https://geeksblabla.com/blablas/ml-ai
* https://geeksblabla.com/blablas/introduction-to-open-source
* https://geeksblabla.com/blablas/open-source-licenses-standards
* https://geeksblabla.com/blablas/the-twelve-factor-app

We need to Convert time

[2020-04-08 21:35] yjose commented on #111
#113

[2020-04-08 21:36] #111 closed

[2020-04-08 22:39] zakariaelas commented on #113
Hi Youssef. Taking this [episode](https://geeksblabla.com/blablas/devops) as an example, changing `hh:mm:ss` to `h:mm` would definitely work as expected, however, I don't believe this would work for this timestamp: `00:25`. It is interpreted as hour 0 minute 25, whereas it means minute 0 second 25. Perhaps it is time to start supporting seconds if you think it is more relevant to viewers and is bo

[2020-04-08 22:40] boredabdel commented on #113
I like the hh:mm time format, there is not point of adding seconds (there is 60 of them in a minute no one care). Happy to pick this one up if no one does :)

[2020-04-08 22:42] zakariaelas commented on #113
I see .. Fair point, thanks for the reply ! I already started working on it, but it's really as you like.

[2020-04-08 23:01] yjose commented on #113
Hi @zakariaelas, As @boredabdel said  we think seconds is not really important for our  users, and using `h:mm` is simple and shorter and would help writing Notes easily for our contributors.

In your case, you can simply delete the seconds part.

[2020-04-08 23:07] zakariaelas commented on #113
Okay thanks ! I submited a PR, however I did as suggested in #112 and by @boredabdel and used `hh:mm` instead of `h:mm`.

[2020-04-08 23:15] yjose commented on #113
`hh:mm` will work too.

[2020-04-09 00:04] yjose commented on #113
well Done 👍

[2020-04-09 00:04] #113 closed

[2020-05-07 16:11] mouradaouinat opened #124 "Suggestion: Add light mode"
I think it'll be great if we could add a dark/light mode toggle

[2020-05-07 16:30] aboullaite commented on #124
Sounds great idea! Is that something you wanna contribute to ?

[2020-05-07 16:33] mouradaouinat commented on #124
Yessir, I'll take care of the implementation, All I need is the Light Mode color scheme, I've already tinkered with it, and found that the challenging parts are the SVGs

[2020-05-07 16:59] mouradaouinat commented on #124
![home](https://user-images.githubusercontent.com/34982954/81322798-014b0d00-9084-11ea-84c5-9d15e077e072.png)
![blablas](https://user-images.githubusercontent.com/34982954/81322814-05772a80-9084-11ea-9be0-e2207b05ba98.png)

[2020-05-07 17:23] aboullaite commented on #124
for the SVGs, I believe @ismailElazizi could help.

[2020-05-08 03:12] ismailElazizi commented on #124
Hi @mouradaouinat, Yeah sure I can provide that

[2020-05-08 10:12] mouradaouinat commented on #124
Thanks @ismailElazizi 💯

[2020-05-11 23:59] mouradaouinat commented on #124
@ismailElazizi any updates?

[2020-05-14 23:40] ismailElazizi commented on #124
@mouradaouinat
https://www.figma.com/file/WuziVAGqUoBJPhxSnpsTbW7g/GeeksBlabla?node-id=1002%3A798

[2020-05-18 15:58] bondif opened #129 "Bug - Liked suggested episode doesn't have a filled heart"
**Steps to reproduce:**
* Go to https://geeksblabla.com/suggest-new-episode/
* Give a like to one of the suggestions

**Expected:** Liked suggestion has a filled heart
**Actual:** Liked suggestion has an empty heart (until page refresh)

[2020-05-18 16:12] bondif opened #130 "QA - "Suggest episode" button should be centered or left aligned"
"Suggest episode" button looks weird, it's not centered nor left aligned!
Desktop View:
![image](https://user-images.githubusercontent.com/24433897/82234903-90c4ab80-9921-11ea-94d8-1d5f18a5d119.png)

Mobile view:
![image](https://user-images.githubusercontent.com/24433897/82235153-e1d49f80-9921-11ea-927a-e7f887d167c8.png)

If you agree that this is an issue, I can open a PR for it!

[2020-05-18 18:31] aboullaite commented on #130
You're right! I prefer to be left lined!

[2020-05-18 18:32] aboullaite commented on #129
Thanks for reporting! @yjose any thoughts ?

[2020-05-19 02:41] yjose commented on #129
Yeah, I can confirm the bug, Nice catch @bondif,  Not sure why?  but I am going to investigate ASAP.

[2020-05-20 17:08] #130 closed

[2020-05-22 20:40] Kafiil commented on #129
@yjose maybe I can take a look. Would I be able to test with auth0 locally ?

[2020-05-23 01:09] yjose commented on #129
@Kafiil, this would be complicated to fix as you need access to AUth0 and FunaDb dashboards,
I will take care of it

[2020-05-23 01:30] Kafiil commented on #129
You may start by looking here, `SuggestionCard.js, line 42`

`const vote = votes.data.filter(x => userVotes.includes(x._id))[0]`

Also, I think the `handelClick` function (typ there btw) should have and _id as a parameter to
know which suggestion you need to use in the mutation

[2020-05-23 01:31] Kafiil commented on #129
Maybe we could set up a dev environment for `auth0` and `faunaDB`

[2020-05-26 18:41] yjose commented on #129
#135  should Fix the issue.
The issue is related to apollo-client cache
We are using an optimistic UI to show upvote without waiting for the response but apollo-client return data from the cache instead of the network.
using `network-only` as fetch-policy for our Queries fix the problem.

@Kafiil , agree that we should set up some dev environment  `auth0` and `faunDB` but As I said this part for t

[2020-05-26 18:42] #129 closed

[2020-05-29 19:24] aboullaite opened #137 "GeeksBLaBla stats"
This is more of a discussion. Is there a way where we can get metrics and stats about viewers/listeners? How many hours people have watched/listened ?

[2020-05-29 19:52] yjose commented on #137
Yeah, I think it's possible using Facebook graph API https://developers.facebook.com/docs/graph-api/reference/video/video_insights/
but I am not sure if we have access to videos created under the DevC group.

[2020-05-29 19:55] yjose commented on #137
also, we can get podcast platforms analytics using anchor account, unfortunately, the only solution is to scrap data using cypress 😀(no open API for anchor)

[2020-05-29 22:31] aboullaite commented on #137
You can get videos info from group as well https://developers.facebook.com/docs/graph-api/reference/v7.0/group/videos

[2020-06-14 14:25] Kafiil commented on #137
How about google analytics ?

[2020-06-14 14:26] Kafiil commented on #124
Is this still a work in progress ?

[2020-06-14 14:27] mouradaouinat commented on #124
Oh we need to close this haha

[2020-06-14 14:27] #124 closed

[2020-06-14 14:30] Kafiil commented on #124
@mouradaouinat good job btw, keep up the good work 👍

[2020-06-14 15:06] aboullaite commented on #137
@Kafiil We want to get number of views and listeners! we need to get them from Facebook, youtube and anchor

[2020-06-17 13:49] yjose commented on #137
In Case someone interested to work on this.
The idea is to add a new field for episode Node  https://github.com/DevC-Casa/geeksblabla.com/blob/master/gatsby-node.js#L79
First, you need to create a function `getViewsForVideoId` that returns views number from Facebook API and then you can use it to create a new field for Episode Node called `views`.

lets me know if you need more info?

[2020-06-17 15:33] yjose commented on #137
@ismailElazizi  any idea when we need to add stats ( in the statistics section, the home page ) or for every episode card?

[2020-06-25 16:29] yjose opened #147 "Remove `Get Notified` Push Notification"
As you know we are using the Push Notification technique to send motifs to users when a new episode is live.
Until now we have more than 150 devices registered, but the problem is that conversion rate is very low as Push Notification works well only for websites with daily users in most of the cases (not the case for geeksblabla, a new episode every week ).

That's why I suggest updating the Notif

[2020-06-25 17:09] ezzarghili commented on #147
Unless we are pushing FB page update clips to the website I agree with approach redirecting user to subscribe to the Social Media pages, my experience with mailing lists is they are very unlikely to get used by people and just ignored.

[2020-06-25 19:00] aboullaite commented on #147
I agree woth both! However I consider building our mailing list, and let user opt in/out from it. But would help to send notification about future/past sessions

[2020-06-26 09:26] myouha opened #148 "Ideas: RSS feed"
For those who want to follow new episodes would be great, still some person don't have a Facebook account.
Keep up the great work.

[2020-06-26 12:15] yjose commented on #148
hey @myouha , I agree, adding RSS feed would be great, and by the way, live streams is available on Youtube too https://www.youtube.com/channel/UCW2WV7NKU0WPyuv4YoNSqBA

[2020-06-26 12:19] yjose commented on #148
if anyone interested to work on RSS feed :
gatsby-plugin-feed: https://www.gatsbyjs.org/docs/adding-an-rss-feed/
Example: https://github.com/yjose/elazizi.com/blob/master/gatsby-config.js#L124

[2020-06-27 13:38] zakariaelas commented on #148
@yjose thanks for the hints ! Please take a look at #149 :pray:

[2020-06-27 14:03] yjose commented on #148
@myouha , Thanks to @zakariaelas , GeeksBlabla RSS feed is here =>  https://geeksblabla.com/rss.xml

[2020-06-27 14:03] #148 closed

[2020-06-27 22:40] #147 closed

[2020-07-09 22:23] yjose opened #155 "🤔 : Create a Page to list moroccan developers blog posts"
I think it would be a great idea if we can collect blog posts by Moroccan developers on a dedicated page `/blog` as a part of the geeksblabla website.
The blog page will only show a preview for posts ( title, description, maybe image )  and I think we can get those Infos from blogs RSS feed.
we can start with blogs we already have on `awesome-morocco` Github repo and collect RSS feeds and combine

[2020-07-09 22:28] aboullaite commented on #155
The idea as you described it, is not what the website is for! I understand your obsession with blogging 😅 but not that much. We're starting mixing content here.

This can be done as part of awesome-morocco probably but not geeksblabla IMHO.

What could be probably a good idea is to have a dedicated platform, for Moroccan bloggers, where we help and promote Moroccan content, but still not part of g

[2020-07-10 00:19] mouradaouinat commented on #155
I also think it’s a great idea to encourage and motivate young devs to blog @yjose, we could do something about it, how about instead of a whole new page, we could use a section of the home screen for (popular from the community) section where we link to good blogposts since we’re only displaying the title or description like you pointed out

[2020-07-10 12:21] yjose commented on #155
I think we agree it's a good idea to have a place when we collect posts from Moroccan developers.

@aboullaite I am not sure if you mean by " A  dedicated platform", A platform when developers can write a complete post and submit it or just a preview and redirect the user to developers' blogs.

I believe we can start building an API in a separate repo as POF using RSS feeds then decide where we ne

[2020-07-10 13:51] aboullaite commented on #155
We could aim for bigger impact! Something that offers either mirroring or complete support for blogging! This could have support for RTL so some people can even post in darija!

Those just are plain ideas that come to my mind ,😅

[2020-07-12 17:25] yjose commented on #155
@aboullaite @mouradaouinat , After a quick search, I found this tool called [rssmix](http://www.rssmix.com/)  that helps combine multiple RSS feeds.

Tried to collect RSS feeds from blogs in `awsome-morocco`  repo :

[code]

And this is the RSS feed we can parse to show blogs previews http://www.rssmix.com/u/11785756/rss.xml

Also worked on a simple Demo App if you want to see the final result
 *

[2020-07-15 13:29] yjose commented on #155
https://github.com/DevC-Casa/moroccan-blog-posts-api

[2020-07-15 13:29] #155 closed

[2020-07-19 01:05] zakariaelas commented on #137
@yjose @aboullaite if possible, I would like to work on adding a `views` count for every episode by querying the Facebook Graph API. Also, don't you guys think it would be better to get this data at **runtime on the client** (because views change frequently), as opposed to build time ? I am bringing this up because @yjose mentioned creating a node field for each episode, which from what I know, im

[2020-07-19 13:28] yjose commented on #137
Yeah @zakariaelas Go ahead, but I   think calculating views in the build time  is better for page performance, take as example the 'blabla' page, i think it would be very slow as you need to fetch views for 50 episode at once, also fetching views require adding fb sdk to page which will increase load time too.
And we think to add global views to home page in statistics section and this would be ha

[2020-07-19 13:45] zakariaelas commented on #137
Thank you @yjose for the clear explanation. At first I thought the views count would appear on the detail view of every episode, which motivated a bit the idea behind realtime fetching. However, I totally agree with what you mentioned, and your approach is better 👌.

[2020-07-19 13:48] yjose commented on #137
I would love if you can add it on episode card and episode view too.

[2020-07-24 22:40] Temo27anas commented on #23
Working on :  GeeksBlabla Kids

[2020-07-24 23:53] melbarch opened #157 "There's no contrast between Upvote card's text and and its background"
The issue is only when using light mode (the text is visible on dark mode)
![image](https://user-images.githubusercontent.com/12951727/88438394-8b438000-ce00-11ea-988b-454fec86c044.png)

[2020-07-25 18:44] mohamedaitbouaaza commented on #23
Working on : `Back to school, Computer Science Edition!`

[2020-07-25 19:28] zakariaelas commented on #137
Upon further inspection, it turns out the FB Graph API does not support stats for videos in facebook groups, but it does for pages.
From the facebook [docs](https://developers.facebook.com/docs/graph-api/reference/video/video_insights#limitations) under limitations:

This would imply that some of the episodes would have an empty view count as not all episodes come from the facebook page.

What do

[2020-07-26 00:40] yjose commented on #137
Hmm , I see

Maybe we can return an estimation for group videos, as you said this is a limitation from Facebook, so nothing we can do here.

 I would recommend returning a random number between 2000 - 4000 views in groups Video 😁 , What you think?

[2020-07-26 01:00] yjose commented on #157
In case someone interested to work on fixing this issue :

the problem is related to LoginPopup `contentStyle` background-color : https://github.com/DevC-Casa/geeksblabla.com/blob/master/src/components/Suggest/LoginPopup.js

to fix this issue we need to use a dynamic background color depends on the mode selected, here you can easily use `useTheme` to get selected mode and set the correct  backgrou

[2020-07-26 01:07] mohamedaitbouaaza commented on #23
Working on : `MSS with Taher Alami` episode.

[2020-07-26 13:30] zakariaelas commented on #157
If it's okay with @melbarch and @yjose, I made a PR fixing this, let me know if I need to change something :pray:

[2020-07-26 13:47] #157 closed

[2020-07-26 13:51] zakariaelas commented on #137
Sounds good to me. I can't say much on the numbers though because I don't know if Facebook allows you to see the views count on their app as an administrator. I think it's definitely better than leaving other episodes' view count as blank.

On a side note, one of the **administrators** of the page will need to acquire an **access token** and add it as an **env variable**. This is because facebook

[2020-07-26 14:05] yjose commented on #137
thank you @zakariaelas for the great explanation, will generate tokens and back to you

[2020-07-26 19:58] zakariaelas commented on #137
@yjose you're welcome :+1: .

I played a bit with the positioning of the views count. Initially, I thought about having an "eye" icon just to save up some space, but I'm not sure how you guys would get the svg for that.

Anyways, please let me know what you think. Would love to hear other suggestions :smiley: .

![image](https://user-images.githubusercontent.com/33696020/88488033-755dc880-cf82-11e

[2020-07-26 20:39] yjose commented on #137
I think your solution is clean. Go gor it, i would recommend using x.x k format ( 2.1k) for episode with views more than 1k.

For the card. I am ok with it
For episode view. I would prefer it under date 🤔

[2020-07-27 15:09] makraz commented on #23
Working on: `MSS with Mohamed Zakariae El Khdime!` episode

[2020-07-27 17:04] yjose commented on #137
@zakariaelas  Unfortunately we need to wait for Facebook app review to make sure the access token will work as expected. this is something new that Facebook has implemented in the last few months due to all the data leaking controversy 😏

[2020-07-27 20:31] zakariaelas commented on #137
@yjose thank you for the feedback.

It's okay, i'll just keep working on my fork until you hear back from facebook 👍👌

[2020-07-28 11:11] Temo27anas commented on #23
`Devops` episode notes are already done :)

[2020-07-28 11:11] Temo27anas commented on #23
Working on: `MSS with Amine Raghib`

[2020-07-28 12:22] makraz commented on #23
Working on: `Software security`

[2020-07-30 12:55] makraz commented on #23
Working on: `Malware analysis and forensics`

[2020-08-17 09:05] moussaidOualid commented on #23
working on: blablas/ep10

[2020-08-17 15:32] makraz commented on #23
Working on: Women In Tech

[2020-08-17 20:50] soufianelf opened #172 "Add "Notes made by:" in the markdown"
Add  "Notes made by:" in the markdown with the name and link of the person who added the notes.
**Just an idea to be discussed.**

[2020-08-17 21:03] yjose commented on #172
Yeah i think it's a good idea, this help give credit to people and encourage contribution.
I would suggest :
Notes made by XXXXX, edited by XXXX,
But let's me see if we can automate it using git or we should add it manually

[2020-08-21 22:42] ridaouiafaf opened #174 "GeekBlaBla Tags/Categories"
It would be great if we can add a list in the BlaBlas nav-item contains fields that were discussed until now in the podcast.

I mean for example Frontend, Backend, Web Development, Mobile Development, MSS, AMA .. etc, so that the visitors can find what they want easily instead of scrolling down a lot of episodes to find an episode that matches their interests.

[2020-08-25 00:17] zakariaelas commented on #174
@yjose interesting stuff .. I can start working on it this weekend if nobody has shown interest yet. Great idea @ridaouiafaf :+1:

[2020-08-25 00:56] yjose commented on #174
Go ahead khay @zakariaelas 🏃‍♂️🏃‍♂️

[2020-08-26 16:55] ridaouiafaf commented on #174
Go ahead good luck bro

[2020-08-26 16:56] ridaouiafaf commented on #174
Thank you @yjose
Thankies & Good Luck @zakariaelas

[2020-08-29 21:09] zakariaelas commented on #174
@yjose I need help making a decision :pray:.

You mentioned previously that we will create a new page for each tag. Just like in the mockup, the episode menu on the left will need to show the episodes that belong to a particular tag. Naturally, on each episode click, we should navigate to the episode page i.e: /blablas/building-a-resume. However, the way things are implemented currently, the episo

[2020-08-29 21:43] yjose commented on #174
hmm, got you, I would recommend the first option.
Also, I would recommend removing `/tags/` from the path too and that's mean we will have multiple routes for the same episode, not bad but important for sharing.

well, can you open a new PR with using the first option, then we can see if its the best solution

[2020-08-30 13:25] AbdaliDahir commented on #174
guys, what about just filter posts i tested so Far it's work fine
but u Know filter its not like new "page"
and without routes here 😅

[2020-08-30 13:35] yjose commented on #174
@AbdaliDahir Yeah you are right, but generating episodes pages is important for SEO and sharing to social media.

[2020-08-30 13:42] zakariaelas commented on #174
@AbdaliDahir that could be an option. I'll submit a PR with the solution me and @yjose discussed yesterday, and then we can discuss the advantages and disadvantages of each solution. Would be cool if you can also take part in the discussion @AbdaliDahir as the more opinions we have the better :pray:

[2020-08-30 14:59] AbdaliDahir commented on #174
for social share i don't think it will be a problem if we keep generating pages the filter it will work in every page for the Share "its based on slug" and u will have slug for every post under this route "/blablas/"

i'm not really good good with seo

but even with filter the meta in head is still changes
and like i mention before we have slug under "blablas/"

- disadvantages u can't share with

[2020-08-30 15:51] makraz opened #180 "GeekBlaBla podcasts: search box"
I think if we can add a search box, this will help the visitors to find a podcast(s) easily instead of scrolling down.
the search box component search for the text typed on the input element in all podcasts titles.

[2020-08-30 17:01] yjose commented on #180
Hmm looks interesting, we can search on content too i guess.

I would recommend using this approach if someone interested to work on it https://apvarun.com/blog/fast-search-for-static-sites/

[2020-08-30 18:01] makraz commented on #180
@yjose I can start working on it if nobody has shown interest yet.

[2020-08-30 18:15] yjose commented on #180
Yeah sure, lets me know if you need any help

[2020-08-30 18:16] zakariaelas commented on #174
@AbdaliDahir I think I understood most of what you explained. Let's recap on this discussion:

### Option 1. Creating new pages for episodes under each tag + new pages for each tag:

**Overview**:
We would need to create a page for each tag i.e: `/mss/`. This would get all episodes under a specific tag and display them on the episodes menu. Once a user clicks on an episode, in order to preserve th

[2020-08-30 18:21] zakariaelas commented on #174
On a side note, @yjose the mockup you shared only includes a few tags, however, we have quite a lot currently. Any idea on how they need to be presented ? This is what I have right now:
![image](https://user-images.githubusercontent.com/33696020/91666561-b606af80-eaf5-11ea-9839-6a35955b2c1a.png)
One thing I don't really like about the vertical scroll is that on every route change, the scroll posit

[2020-08-30 18:26] yjose commented on #174
@zakariaelas  for tags I guess we can list them without vertical scroll  like  =>  https://uses.tech/
also, I would love to add numbers for tags like `uses.tech` website

[2020-08-30 18:29] zakariaelas commented on #174
@yjose okay great, I'm on it :+1:

[2020-08-30 18:35] yjose commented on #174
@zakariaelas thank you for the great explanation, hard to decide to be honest 😂

[2020-08-30 18:37] yjose commented on #174
would love  if you can open the PR while you are working on it as we will have a netlify preview  to see, and maybe I can pull code and test it locally

[2020-08-30 18:41] zakariaelas commented on #174
@yjose haha yeah definitely. Let's have at least something ready, then we can decide. I'll open a first PR asap.

[2020-08-30 18:45] yjose commented on #23
After one year and a half, we are going to close this issue, thank you guys
![](https://media.giphy.com/media/3o6fIUMSMkAz1PVxTy/giphy.gif)

[2020-08-30 18:45] #23 closed

[2020-08-30 18:46] AbdaliDahir commented on #174
@zakariaelas thanks for explanation got it

the 3 is not good solution u need at least url for epsd

so im with you for solution 1/2. 🤙

if @yjose accept for "ScrollBar" can you give it more width
im suffering with it 🤕
without mouse

[2020-08-30 19:33] soufianelf commented on #23
I remember it was an idea suggested by @AbderrahimSoubaiElidrissi in the first geeksblabla website meeting around 2 years ago, happy to see so many contributions here thank you all.

[2020-09-04 17:41] soufianelf opened #188 "The possibility to clone geeksblabla and get a copy of the platform to help others run their own podcast platform with all the automations we have"
We can provide all our expertises and tools auotmation that we made in Geeksblabla to be public a possibility to generate a podcast platform with one click and it will be hosted on somthing.geeksblabla.com so we can help anyone want to run their tool/website for podcast its a way to improve this field in Morocco.

[2020-09-04 17:44] soufianelf commented on #188
It's a big feature to work in I know but it zill be really helpful and it will take Geeksblabla to a next level.

[2020-09-04 17:53] makraz commented on #188
@soufianelf, interesting idea, we can make it in many steps.

[2020-09-05 19:16] #174 closed

[2020-09-05 21:25] zakariaelas commented on #188
@soufianelf really cool idea. I am not sure if this aligns with what you want to achieve, but I think that one thing we can do is create a **gatsby starter**. The idea is to publish a boilerplate version of geeksblabla that the open source community can use and customize. More on gatsby starters [here](https://www.gatsbyjs.com/docs/starters/) and [here](https://www.gatsbyjs.com/docs/creating-a-sta

[2020-09-06 13:19] soufianelf commented on #188
The idea is to make the platform available and Easy to use for all uses
even the no tech guys and also we have a lot of automations things that
could be used and help them to win time.
Otherwise the code on GitHub any one the community can access to it I think
no need for gatsby starter for now.

On Sat, Sep 5, 2020 at 5:25 PM Zakaria El Asri <notifications@github.com>
wrote:

Soufian EL FOUKAHI
*

[2020-10-17 16:14] yjose commented on #52
done

[2020-10-17 16:14] #52 closed

[2020-10-30 11:37] djalal commented on #188
There are at least two ways to achieve the full "Webinar as a Service", Multi-tenancy or isolated instances.

Each one has pros and cons

### 1.Multi-tenancy
#### Pros
- one deployment upgrades every users' instance
- one codebase to maintain

#### Cons
- adds some layer of complexity to spawn new instances
- one size does not fit all: some configuration panel is required

### 2.Isolated instances

[2020-11-07 18:38] #188 closed

[2020-11-23 20:20] #172 closed

[2020-12-13 14:14] aboushaheed opened #236 "Idea: Show number of likes and comments under de facebook video"
Hello,
it will be fun to add how many like and how many comments are maded on the geeksblabla video, hosted on facebook
using Graph Api Video to get that

[2020-12-13 14:24] yjose commented on #236
hey @aboushaheed  we try to do that but we are blocked on Facebook app validation 🤨   👉  #137

[2020-12-13 14:35] aboushaheed commented on #236
sorry I did'nt see that, so can close this issue :D
I will help on this #137 one

[2020-12-13 14:35] #236 closed

[2020-12-21 13:52] AbderrahimSoubaiElidrissi commented on #180
@yjose @makraz I already implemented a search in a static web site I can help
@makraz  You can ping me anytime (just but me a coffee :D )

[2020-12-21 13:54] makraz commented on #180
@AbderrahimSoubaiElidrissi deal, I will reach you about this ticket.

[2020-12-21 14:39] yjose commented on #180
As we can play the video in a specific note, I would like if you can make search by notes

[2021-02-25 09:48] bondif opened #249 "Liked suggestions aren't shown"
I think the filled heart isn't showing up anymore.
Link : https://geeksblabla.com/suggest-new-episode/

[2021-02-25 10:18] bondif commented on #249
I found a solution, I'll send a PR

[2021-02-25 18:37] #249 closed

[2021-03-31 15:05] yjose opened #261 "Update video player to youtube"
we noticed some issues related to the Facebook player, and I think is not stable for external uses like website and I suggest updating it to youtube player.

TODO :

- [x] Make sure we have all episodes on youtube channels
- [x] update `video ` frontmatter attribute to youtube id for every episode file
- [x]  update Player component using Youtube sdk
- [x] update `go to notes` links to Youtube sdk

[2021-04-14 11:29] #261 closed

[2021-05-04 03:38] ridaouiafaf opened #268 "Last episode typos"
In "Learning How To Learn" Episode, Notes part, the wrap up is at 02:39:00 and not 01:54:00.
Also, in Notes again, 1:08 - Self-thought developers and issues "whit"👀 diplomats? ... it's with not whit.🙌

[2021-05-04 03:40] ridaouiafaf opened #269 "IT Certification Duration Typo"
in the episodes menu, the duration of the episode is noted as 01:52:58 while it's 02:33:56.
![image](https://user-images.githubusercontent.com/54274365/116958474-50715100-ac8a-11eb-9c64-2ba90213fc2c.png)

[2021-05-12 01:09] #269 closed

[2021-05-12 01:10] yjose commented on #268
fixed

[2021-05-12 01:12] #268 closed

[2021-07-19 12:24] yjose commented on #180
#282

[2021-07-19 12:24] #180 closed

[2021-09-24 01:57] soub4i opened #293 "Add telemetry (Google or Other)"
Greeting

This is more about brainstorming the idea of adding telemetry tools for tracking a users' activities and preferences by GTM or Facebook Pixel

check these references:

https://www.gatsbyjs.com/plugins/gatsby-plugin-facebook-pixel

https://www.gatsbyjs.com/plugins/gatsby-plugin-google-tagmanager/

https://tagmanager.google.com/

[2021-09-24 01:59] AbderrahimSoubaiElidrissi commented on #293
@aboullaite @yjose @soufianelf

[2021-11-26 23:40] yjose opened #302 "Sync website notes with youtube"
The idea is to update the youtube video description with notes and links after adding them to the website.
As the website is the source of truth would like it if you can work on a GitHub action that updates the youtube episode video with notes as a description for the video.

[2021-12-09 23:33] azihassan commented on #302
Does this mean that the website notes should be uploaded to Youtube, or is it the other way around ?

[2021-12-12 19:26] yjose commented on #302
@azihassan  check updated description

[2021-12-12 23:11] azihassan commented on #302
Noice. I guess this is a three-step issue:

- Detecting new episodes. Is this based on git tags, branch name patterns, [file change detection](https://github.com/marketplace/actions/file-changes-action), or something else entirely ?
- Parsing the notes out of the markdown file. This can probably done with cat + regex if we're brave enough, but I think that a JS script with third-party libs is more

[2021-12-13 10:02] yjose commented on #302
Great @azihassan
Step 1 looks great
For the 2nd step, I would recommend using a markdown converter  (example : https://github.com/ejrbuss/markdown-to-txt/blob/master/src/markdown-to-txt.ts)
At the end the the output text should look like the following :
[code]
I think you can create this format using custom elements for marked render.

for youtube, I would recommend using curl if it's not possible

[2021-12-17 11:37] yjose commented on #302
@AbderrahimSoubaiElidrissi , @azihassan has already started working on it  but welcome if you have any inputs on this

[2021-12-18 14:03] azihassan commented on #302
Definitely, especially since I'm not very used to Github Actions. Right now I have [an action](https://github.com/azihassan/geeksblabla.com/pull/1) that detects changes in the episode files and parses out their descriptions and Youtube URLs, but it's probably not idiomatic and needs to be refactored once it's done. For now I'll move on to the description upload part.

[2021-12-20 20:01] azihassan commented on #302
Looks like there's no way around OAuth2 in the Youtube API. The good news is that the refresh token only expires when explicitly revoked, so we can store it as a Github secret and keep refreshing the access token as needed.

[2021-12-20 23:00] yjose commented on #302
@azihassan i just have the chance to check the GitHub action you are working on I think is much easier to create a simple js script to convert markdown file to  description and  then call the youtube API using the same js script, I would recommend you to check how we upload  to podcast workflow:
workflow : https://github.com/DevC-Casa/geeksblabla.com/blob/master/.github/workflows/upload_episode.ya

[2021-12-25 21:02] azihassan commented on #302
Quick update.

I got the access and refresh tokens using the code in [this quickstart](https://developers.google.com/youtube/v3/quickstart/nodejs). This requires that an application be set up beforehand, with its OAuth credentials and consent screens configured. In the redirect URL, I put localhost:3000. I then listened for incoming requests using `nc -l localhost -p 3000`, copied the code I recei

[2021-12-25 21:48] yjose commented on #302
Thanks, @azihassan  for the update and all those information.
I can't  give you my inputs here  as I don't have enough experience with youtube API but i remember seeing this tutorial about a guy  who creates a bot to update the youtube title every few minutes, maybe can help  https://dev.to/deta/how-to-use-the-youtube-api-to-create-a-self-updating-video-title-based-on-views-59o8

But you are the e

[2021-12-28 23:03] azihassan commented on #302
Oh wow, can't believe I missed that resource. I ended up reverse engineering that entire process from the documentation

Alright, I'll start by writing a README.md documentation in the youtube/ directory. Not sure how it's going to be integrated in the repo once finished, but I guess we'll cross that bridge when we get to it.

[2021-12-29 14:52] yjose opened #304 "Add Footer To website"
Would like if we can add a more detailed footer to the website with links to social media and other community initiatives

the footer should be something similar to this image  :
![footer](https://user-images.githubusercontent.com/11137944/147674356-ba4a27ff-d5af-4fbe-b9ba-d041143b58c3.png)

 here's some of the link we need to add
Follow sections
Youtube
Facebook
twitter
LinkedIn
Instagram

Comuni

[2021-12-30 20:31] azihassan commented on #302
Added a readme file [here](https://github.com/azihassan/geeksblabla.com/blob/3dbf03bc3b5acd66eb52c293bbdf311361786245/youtube/README.md), I hope it includes everything.

[2021-12-31 13:26] yjose commented on #302
@azihassan  can you open a new PR to start testing and review

[2021-12-31 20:35] azihassan commented on #302
Here : https://github.com/DevC-Casa/geeksblabla.com/pull/305

I recommend squashing once we finish reviewing, there are some back and forth changes in the commits.

[2022-01-09 00:01] #302 closed

[2022-01-16 18:57] mriiad commented on #304
@yjose would it be possible to assign this task to me please ?

[2022-01-17 13:38] yjose commented on #304
yeah sure , @mriiad  go for it and let me know if you need more help on this

[2022-02-19 00:15] mriiad commented on #304
@yjose, sorry for the delay because of not having enough time recently but I have some good news, some commits will be done this weekend, I promise.

[2022-02-20 02:18] mriiad commented on #304
@yjose, I'm having some problems when installing dependencies, even after upgrading node to the last version (16.14.0)

Here's the log message:
[code]
Do you have any idea please ?

[2022-02-20 19:11] yjose commented on #304
hmm `node-gyp` issues on windows are very common. check this article on how you can fix this issue on windows
https://spin.atomicobject.com/2019/03/27/node-gyp-windows/
good luck

[2022-05-17 09:42] deleusec commented on #304
Hi ! Is it possible to assign me this issue to pursue it ?

[2022-05-17 12:55] yjose commented on #304
Yeah Go for it @deleusec

[2022-05-19 21:29] #304 closed

[2022-06-03 20:36] yjose opened #334 "Migrate Project to latest Gatsby release"
Right now the project is using Gatsby v2 and we want to upgrade it to latest version

[2022-06-03 20:42] yjose commented on #302
Yeah @azihassan , this is exactly what we discussed, as we are using a draft google application to access to API the token expires in 15 days and we need to generate it again. that's why we stopped running the script using GitHub action.

we need to submit the google app to review and this requires more work

[2022-07-22 18:43] azihassan commented on #334
Interested in this. Do you have an anti regression strategy ?

[2022-07-23 14:51] yjose commented on #334
Unfortunately no.  will make sure to test the new implementation manually when every you have the chance to open a new PR
Good luck and let me know if you need my help on something

[2022-07-23 20:16] azihassan commented on #334
Thanks, I'll look into it. But just a heads up :

I tried to upgrade just now, and it looks like some packages need to be upgraded too.

For example, node-sass 4.13.0 didn't support node v16. Following [this](https://github.com/sass/node-sass), I downgraded my node install to v13 (nvm is a lifesaver here). But then I ran into

    error babel-jest@27.4.5: The engine "node" is incompatible with thi

[2022-07-23 22:50] yjose commented on #334
Yeah please try to updates all deps to latest versions

[2022-07-27 17:00] azihassan commented on #334
I briefly tested the deployed version and it looks OK

Just to be safe, I recommend that we try to deploy an episode using the upgraded code

[2022-08-14 23:03] azihassan commented on #334
Quick update : still working on this. The gatsby-plugin-mdx 4.0.0 upgrade brought a bunch of breaking changes that I'm still trying to wrap my head around. The main problem I have is that it doesn't recognize frontmatter :

[code]

Right now gatsby-plugin-mdx is still in RC, but I remember reading that a stable version will be released this week. I'll look into it again once the stable version is

[2022-08-25 21:07] azihassan commented on #334
Update : I tested the stable version a few days ago. The frontmatter error disappeared, but it doesn't recognize certain fields :

![image](https://user-images.githubusercontent.com/1638227/186768362-d1773835-3ca3-4db7-af6b-895197687731.png)

Commenting out the unrecognised fields causes the query to display the correct results.

Right now I'm still looking into why it fails for some fields and no